__pycache__
app_settings.py
.DS_Store
node_modules
/dist

dist/*
# local env files
.env.local
.env.*.local
.env*
API/api/*
experiment_notebooks/CSV/*
experiment_notebooks/csv_insert.py
experiment_notebooks/csv_to_db.ipynb
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other files
*.pdf
*.log
*.csv